* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}


h1 {
    margin-top: 0;
    font-weight: 900;
    font-size: 2rem;
    color: white;
}

h2 {
    color: white;
    font-weight: 800;
    font-size: 1.7rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: white;
}

header {
    background-color: #136C72;
}

.container { 
    width: 80%;
    max-width: 75rem;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 1em;
    display: flex;
    align-items: center;
}

.hero-btn {
    width: fit-content;
    background-color: #38CFD9;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75rem 1.9rem;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 0.9rem;
    color: #23424A;
}

.nav__link--button {
    background-color: white;
    padding: .7rem;
    color: #136C72;
    border-radius: 3rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav {
    color: #fff;
    padding: 1rem 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.nav__list {
    list-style: none;
    font-weight: 400;
    
    display: flex;
    align-items: center;
}

.nav__list--primary {
    margin: 0 auto;
}

.nav__item + .nav__item {
    margin-left: 1rem;;
}

.hero {
    width: 100%;
    margin: 0 auto;
    background-color: #23424A;
    margin-bottom: 2rem;
    padding: 5rem 0;
}

.hero-text {
    width: 54%;
}

.hero-img {
    align-self: flex-start;
    width: 35%;
}

.hero-para {
    margin-bottom: 4.5em;
}

.sidebar {
    width: 35%;
    background-color: #136C72;
    text-align: center;
    padding: 2rem 2.5rem 0 2.5rem;
}

.primary-content {
    width: 55%;
}

.section-title {
    color: #136C72;
}

.main-para {
    color: #3A3A3A;
}





