body {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(44, 0, 44); */
}

h1 {
    font-family: "Fraunces";
    font-weight: 500;
}

h2, h3 {
  font-family: "Montserrat";
  font-weight: 500;
}

.background {
  display: flex;
  width: 110rem;
  height: 65.625rem;
  background-color: rgb(238, 238, 238);
  margin: 0rem;
  justify-content: center;
  align-items: center;
  
  

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
  width: 81.25rem;
  height: 45.25rem;
  margin-top: 0px;
  box-shadow: 0.008126rem 0.9375rem 3.125rem -0.984375rem rgba(46, 46, 46, 0.8);
}

.card {

  width: 33.75rem;
  height: 25.32rem;
  border-radius: 2.5%;
  background-color:white;
}

