* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-weight: 900;
    font-size: 2rem;
    color: white;
}

h2 {
    color: white;
    font-weight: 800;
    font-size: 1.7rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: white;
}

.para-blk {
    color: #3A3A3A;
}

.hero {
    width: 100%;
    margin: 0 auto;
    background-color: #23424A;
}

.hero-wrapper {
    padding: 4.8em 0;
}

.hero-text {
    width: 54%;
}

.hero p {
    margin-bottom: 3em;
}

.call-to-action-btn {
    width: fit-content;
    background-color: #38CFD9;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75rem 1.9rem;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 0.9rem;
    color: #23424A;
}

.container { 
    width: 75%;
    max-width: 75rem;
    margin: 0 auto;
}

.col {
    text-align: center;
    padding: 3em 0;
}

.row {
    display: flex;
}

.row--2col {
    background-color: #136C72;
}

.col + .col {
    margin-left: 3rem;;
}

.h2-purple {
    color: #87629A;
}

.para-green {
    color: #136C72;
}




